@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family:"AgencyFBRegular";
    src: url("agencyr.eot") /* EOT file for IE */
}
@font-face {
    font-family:"AgencyFBRegular";
    src: url("Agency_FB.ttf") /* TTF file for CSS3 browsers */
}
body{
  font-family:Microsoft JhengHei, 'Open Sans', sans-serif;
  text-shadow: none;
  color:#59606D;
  background-color:#BFD8EF;
}
a{
  text-decoration: none;
  color:inherit;
}
div [data-role="header"], div [data-role="footer"], div[data-role="navbar"]{
  font-family:'Agency FB';
  height: 6.5vh;
  background:#86C1D4;
  text-shadow: none;
  border:none;
  position:fixed;
}
.header-logo{
  float:left;
  font-size:5.5vh;
  padding:0vh 0px 1vh 1vh;
}
.header-icon{
  float:right;
  font-size:5.5vh;
  padding:0vh 2vh 1vh 0px;
}
.header-icon i{
  padding-right:1vh;
}
.footer-logo{
  /*the footer only has one element*/
  width:100vw;
  height:6.5vh;
  font-size:5.5vh;
  padding:0px 0px 0px 0px !important;
  text-align:center;
}
.ui-footer-fixed .footer-logo-2{
  /*the footer has two elements*/
  position:static !important;
  display:inline-block;
  width:50vw;
  height:6.5vh;
  font-size:5.5vh;
  padding:0px 0px 0px 0px !important;
  text-align:center;
}
.footer-logo-2:nth-child(1){
  border:solid 1px grey;
  border-style:none solid none none;
}
a[data-rel="popup"]{
  font-size:5.5vh !important;
  padding:0px 0px 0px 0px !important;
}

/*HOMEPAGE*/
#home .ui-grid-a, #home-login .ui-grid-a{
  height: 25vh;
  text-align: center;
}
#home .ui-block-a, #home-login .ui-block-a, #home .ui-block-b, #home-login .ui-block-b{
  height:100%;
  padding:5% 5% 5% 5%;
}
#home .ui-block-a img, #home-login .ui-block-a img, #home-login .ui-block-b img, #home .ui-block-b img{
  width: 100%;
}

/*SPORTS*/
.ui-content{
  font-family:'Agency FB', Microsoft JhengHei;
  width:100%;
  margin:0;
  padding:0;
}
#tabpanel ul.tab{
  position:fixed;
  z-index:100;
}
ul.tab {
  display:table;
  list-style:none;
  width: 100%;
  /*overflow-x:scroll;*/
  /*list-style-type: none;*/
  margin: 0px;
  padding: 0;
  /*overflow: hidden;*/
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
}
/* Float the list items side by side */
ul.tab li {
  display: table-cell;
  background:#91DBF3;
  float: left;
  width:16.66667%;
  margin:0;
  /*margin-left:-1vw;*/
  padding:0;
  border:none;
}
/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  margin:0 !important;
  padding: 1vh 2vw;
  text-decoration: none;
  transition: 0.3s;
  font-size: 6vw;
}
/* Style the tab content */
.tabcontent {
  position:relative;
  display: none;
  padding: 6.5vh 12px 1vh 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tabcontent.ui-li-static{
  width:100%;
  margin:0px;
  padding:0px;
}
.ui-li-static li [is="listview-li"]{
  width:100%;
  margin:0px;
  padding:0px;
  height:15vh !important;
  background:red;
  color:red !important;
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.sportLi{
  height:9vh;
  padding:1vh;
  margin: 0px;
  margin-left: -5vw;
  margin-right: -5vw;
  border-style:none none solid none;
  border-color:#7DB9DE;
  border-width:2px;
}
.liCircle{
  width:8vh;
  height:8vh;
  display: inline-block;
  padding:0;
  margin:0px 10px;
  border-radius: 100%;
  background:#2EA9DF;
}
.liTeam{
  width:calc(60% - 8vh);
  height:8vh;
  font-size:3vh;
  display: inline-block;
  padding:0px 0px 0px 10px;
  margin: 0;
}
.liJoin{
  font-family:'Agency FB', Microsoft JhengHei;
  font-size:4vh;
  display:inline-block;
  padding:3px 10px;
  float:right;
  margin: 2vh 7vw 1vh 0px;
  background: #E0E0E0;
  border:2px solid  #7DB9DE;
}

/* joinInfo */
#joinCircle{
  width:10vh;
  height:10vh;
  display: inline-block;
  padding:0;
  margin:0px 3vw;
  border-radius: 100%;
  background:#2EA9DF;
}
#joinTeam{
  width:45%;
  font-size:6vw;
  display: inline-block;
  vertical-align: middle;
  padding:0px 0px 0px 1vw;
  margin: -50px 0px 0px 0px;
}
.joinReply{
  font-family:'Agency FB', Microsoft JhengHei;
  font-size:4vh;
  display:inline-block;
  padding:3px 10px;
  float:right;
  margin: 2vh 3vw 1vh 0vw;
  background: #E0E0E0;
  border:2px solid  #7DB9DE;
}
#joinTable{
  width:100%;
  border-style:solid none none none;
  border-color:grey;
  border-width:1px;
}
#tLeft{
  width:49vw;
  height:50vh;
  display:inline-table;
  border-style:none solid none none;
  border-color:grey;
  border-width:1px;
}
#tLeft div, #tRight div{
  padding-left:10px;
}
.joinCommentText{
  text-align:left;
  word-wrap: break-word;
  margin-top:1.5vh;
}
.joinCommentTime{
  text-align:right;
  padding-right:10px;
}
#tRight{
  width:49vw;
  height:50vh;
  display:inline-table;
}
#reply-popup{
  background:#cccccc;
  border:none;
  height:60vh;
  width:80vw;
  margin:10vh 5vw 10vh 5vw;
  padding:5vw 0px;
}
#reply-title{
  font-family:Microsoft JhengHei;
  font-size:5vw;
  text-align:center;
  margin-bottom:1.2vh;
}
#joinContact{
  font-family:Microsoft JhengHei;
  border:2px solid #7DB9DE;
  width:80vw;
  margin:5vh 10vw;
}
#joinContact div:not(:first-child){
  margin-left:20px;
}

/*NEW GAME*/
#newgame-title{
  font-family:'Agency FB',Microsoft JhengHei;
  font-size:8vh;
  font-weight:normal;
  letter-spacing:3.9vw;
  text-align:center;
  padding-right:0px;
  padding-left:0px;
}
#newgame-form,#confirm-form{
  font-family:'Agency FB',Microsoft JhengHei;
  font-size:3.5vh;
}
#newgame-form label{
  width:30vw;
  text-align:right;
  font-weight:550;
  display: inline-block;
  padding:0px;
  margin:0px;
}
#newgame-form input{
  width:50vw;
  padding:0px;
  padding-left:10px;
  margin:0px;
  display:inline-flex;
}
.ui-input-text{
  display:inline-block;
  margin:0px;
  padding:0px;
  height:5vh;
  border:none;
}
.ui-checkbox{
  display:inline-block;
  text-align:left;
}
#myInfo{
  display:block;
}

/*CONFIRM*/
#confirm-title{
  font-family:'Agency FB',Microsoft JhengHei;
  font-size:8vh;
  font-weight:normal;
  letter-spacing:8.5vw;
  text-align:center;
  padding-right:0px;
  padding-left:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:1.2vh;
}
#confirm-form label{
  width:30vw;
  text-align:right;
  font-weight:550;
  display:inline-block;
  padding:0px;
  margin:0px;
  height:5.7vh;
}
.confirm-data{
  width:50vw;
  padding:0px;
  padding-left:10px;
  margin:0px;
  display:inline-block;
}
#confirm-popup{
  background:#cccccc;
  border:none;
  height:60vh;
  width:80vw;
  margin:10vh 5vw 10vh 5vw;
  padding: 0px;
}
#popup-title{
  font-family: 'Agency FB',Microsoft JhengHei;
  font-size:8vh;
  text-align:center;
  padding-top:5vh;
}
.popup-btn{
  font-family: 'Agency FB',Microsoft JhengHei;
  background:#66B3FF;
  color:white;
  font-size:8vw;
  border:1px white solid;
  padding:0px;
  margin:2vh 5vw 2vh 5vw;
  text-align:center;
}